{% extends "base.html" %}

{% block content %}
<!-- About Section -->
<section id="about" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2 class="display-4">About Us</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci possimus laborum explicabo minus esse molestias ipsam dolorum quidem nemo incidunt blanditiis reprehenderit consequuntur, enim recusandae. Blanditiis nisi illum id, eaque minima accusamus! Ipsum nobis esse et sed aliquid doloribus error dolor quae, voluptate mollitia a nam, maxime alias dolorum beatae reprehenderit minima adipisci minus facere? Sequi quo numquam temporibus consequatur quasi qui mollitia neque laborum delectus maiores ratione, voluptate ipsum quod laudantium recusandae nesciunt perspiciatis officiis accusantium. Culpa ipsam, quis sunt eaque velit ut cupiditate? Repellendus, unde laboriosam. Architecto animi quisquam quam illo. Tempora excepturi assumenda similique illum labore voluptatem.</p>
                <p>Nulla facilisi. Integer ac fermentum libero. Pellentesque sed libero vel ante iaculis eleifend. Fusce dapibus lorem vel diam bibendum, at mattis elit blandit.</p>
            </div>

        </div>
    </div>
</section>
{% endblock %}
