<div class="col-md-4">
    <div class="card">
        <a href="{{ url_for('product_detail', id=product.id) }}"
            style="text-decoration: none; color: inherit;">
            <img
                src="{{ url_for('static', filename='uploads/' + product.image) }}"
                alt="{{ product.title }}" />
            <div class="card-content">
                <h2>{{ product.title }}</h2>
                <p class="product-description">{{ product.description }}</p>
                <div class="price">${{ product.price }}</div>
            </div>
            <div class="row py-2 px-5">
                <div class="col">
                    <a class="btn btn-primary btn-block"
                        href="{{ url_for('edit_product', id=product.id) }}">Edit</a>
                </div>
                <div class="col">
                    <a class="btn btn-danger btn-block"
                        href="{{ url_for('delete_product', id=product.id) }}">Delete</a>
                </div>
            </div>

        </a>
    </div>
</div>

<!-- <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{ url_for('static', filename='uploads/' + product.image) }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ product.title }}</h5>
      <p class="card-text">${{ product.price }}</p>
      <a class="btn btn-primary btn-block" href="{{ url_for('edit_product', id=product.id) }}">Edit</a>
            <a class="btn btn-danger btn-block" href="{{ url_for('delete_product', id=product.id) }}" >Delete</a>
    </div>
</div> -->
